<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty name="INSTRUMENTATION_KEY" scope="context"
        source="azure.application-insights.instrumentation-key" />

    <appender name="aiAppender"
        class="com.microsoft.applicationinsights.logback.ApplicationInsightsAppender">
        <instrumentationKey>${INSTRUMENTATION_KEY}</instrumentationKey>
    </appender>

    <root level="trace">
        <appender-ref ref="aiAppender" />
    </root>

    <logger name="org.springframework.web" level="INFO" />

</configuration>